<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Blockchain Healthcare Data Management System</title>
</head>
<body>
<nav>
    <h4>Healthcare Data Management System</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/single-patient-data">Single Patient Data</a></li>
        <li><a href="/condition-proportion">Condition Proportion</a></li>
        <li><a href="/condition-by-age-group">Condition by Age Group</a></li>
        <li><a href="/input-data">Add Patient Data</a></li>
    </ul>
</nav>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Blockchain Project - Home Page</h1>
        <p class="lead">This application uses a websocket server to connect with python bots (running on separate machines) that act similar to blockchain nodes.</p>
        <p class ="lead">The bots can do the following...
            <ol>
                <li>Maintain their own copy of the blockchain that contains medical data for patients</li>
                <li>Perform read/write operations on their copy of the chain</li>
                <li>Perform various search operations to provide data visualizations based on data in the chain</li>
                <li>Implement a simple form of smart contracts to validate all new patient data before adding it to the chain</li>
                <li>Initiate voting in order to come to consensus on changes made to the blockchain</li>
                <li>Store their chain in files locally on the machine they're running on for data persistence</li>
            </ol>
        </p>
        <hr class="my-4">
        <p>NOTE: while the server is deployed on render.com, if no bots are connected then the server will not be able to get data to generate visualizations
            you can find the script to run a bot on your own machine at <a href="https://github.com/SamH135/Healthcare-Data-Management/blob/master/model/BlockchainNode.py">https://github.com/SamH135/Healthcare-Data-Management/blob/master/model/BlockchainNode.py</a>
        </p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>