<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Add Patient Data</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      form {
        margin: 20px 0;
      }
      label, input {
        display: block;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        margin-top: 20px;
      }
    </style>
</head>
<body>
<nav>
    <h4>Healthcare Data Management System</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/single-patient-data">Single Patient Data</a></li>
        <li><a href="/condition-proportion">Condition Proportion</a></li>
        <li><a href="/condition-by-age-group">Condition by Age Group</a></li>
    </ul>
</nav>

<div class="container mt-5">
    <h1>Add Patient Data</h1>
    <form action="/addPatient" method="POST" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="patientId">Patient ID:</label>
        <input type="text" class="form-control" id="patientId" name="patient_id" required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" name="age" required>
      </div>
      <div class="form-group">
        <label for="condition">Condition:</label>
        <input type="text" class="form-control" id="condition" name="condition" required>
      </div>
      <input type="submit" class="btn btn-primary" value="Add Patient">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/validation.js"></script>
</body>
</html>
